# Default ignored files
/../../Cost Manager REStful Web Services /.idea/shelf/
/../../Cost Manager REStful Web Services /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Cost Manager REStful Web Services /.idea/httpRequests/
